{% extends 'ISLBlogBundle::layout.html.twig' %}

{% block contenu %}
    <article>
        <h1>{{ article.titre }}</h1>
        
        <h3> Par {{ article.auteur}}, le {{ article.date | date('d/m/Y') }}</h3>
        <div class="categories">
            {% for cat in article.categories %}
                <span class="label label-info">{{ cat.nom }}</span>
            {% endfor %}
        </div>
        {% if article.image %}
            <p>
                <image src="{{ article.image.url }}" alt="{{ article.image.alt }}" />
            <p>
        {% endif %}
        <p class="">{{ article.contenu }}</p>
        
        <p class=""><a href="{{ path('isl_blog_modifier', {id: article.id}) }}">modifier</a></p>
        
    </article>
        
{% endblock %} 
